.district-list {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #f9f9f9;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 90vh;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    li {
      margin: 10px 0;
      padding: 12px 16px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      color:#555;
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 5px solid #ccc;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      strong {
        color: #555;
        margin-right: 4px;
      }

      &.mid{
        border-bottom-color: #090b3e;

        & .product{
          color: #090b3e;
          font-weight: 600;
          font-size: 1.25rem;
          text-transform: capitalize;
        }
      }
      &.edge{
        border-bottom-color: #662437;
        & .product{
          color: #662437;
          font-weight: 600;
          font-size: 1.25rem;
          text-transform: capitalize;
        }
      }
      
    }
  }

  @media screen and (min-width: 1024px) {
    max-width: 90vw;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      padding: 1rem;
    }
  }
}